@using Kompostowanie.Helpers
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Kompostowanie</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="~/Styles/bootstrap.min.css" />

        <link rel="stylesheet" href="~/Styles/b.css" />
        <link rel="stylesheet" href="~/Styles/kompostowanie.css" />

        <link href="~/Styles/font-awesome/font-awesome.css" rel="stylesheet" />

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div id="header">

        </div>     
          
        <div id="user-nav" class="navbar navbar-inverse" style="text-align: right">
            <ul class="nav">
                @if (SessionHelper.UserSession(Session) != null)
                {
                    <li class=""><a href="#"><i class="icon icon-user"></i> <span class="text">Zalogowany jako @SessionHelper.UserSession(Session).Username</span></a></li>
                    <li class=""><a title="" href="@Url.Action("Logout", "User")"><i class="icon icon-signout"></i> <span class="text">Wyloguj</span></a></li>
                }
                else
                {
                    <li class=""><a title="" href="@Url.Action("Login", "User")"><i class="icon icon-signin"></i> <span class="text">Zaloguj</span></a></li>
                }

                <li class=""><a title="" href="@Url.Action("Register", "User")"><i class="icon icon-user"></i> <span class="text">Zarejestruj</span></a></li>
            </ul>
        </div>
       
        <div id="sidebar">
            <a href="#" class="visible-phone"><i class="icon icon-home"></i> Menu</a>
            <ul>
                @if (SessionHelper.UserSession(Session) != null)
                {
                    <li class="active"><a href="@Url.Action("Index", "Doswiadczenie")"><i class="icon icon-home"></i><span> Doświadczenia</span></a> </li>
                }
            </ul>
        </div>
       
        <div id="content">
            <div id="content-header">
                <div id="breadcrumb">
                     <a href="#" class="tip-bottom"><i @*class="icon-home"*@></i>@ViewBag.Title</a>
                </div>
            </div>
            <div class="container-fluid">
                @if (Notifier.HasErrors())
                {
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="widget-box">
                                <div class="widget-content nopadding">
                                    @foreach (var error in Notifier.GetAndRemoveErrors())
                                    {
                                        <div class="alert alert-error">
                                            @error
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }

                @RenderBody()
            </div>
        </div>

        <div class="row-fluid">
            <div id="footer" class="span12">

            </div>
        </div>

        <script src="~/Scripts/jquery.min.js"></script>
        <script src="~/Scripts/jquery.ui.custom.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>

        @RenderSection("Scripts", false)

    </body>
</html>
